body {
    margin: 0rem;
    padding: 0rem;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hello {
    display: flex;
    flex-direction: column;
}

.background {
    width: 100%;
    height: 52.2449rem;
    position: absolute;
    top: 0;
}

.ring {
    width: 28.7347rem;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 9.9265rem;
}

.header-layout {
    z-index: 50;
    width: 100%;
    position: absolute;
    top: 0;
}

.header-line1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(60, 60, 60, 0.24);
    height: 7.027rem;
}

.header-line1 p {
    font-size: 2.6122rem;
    font-family: PingFangSC-Medium;
    color: rgba(255, 255, 255, 1);
    line-height: 4.3624rem;
    padding: 0 2.6122rem 0 2.6122rem;
}

.icon-sign {
    width: 3.6571rem;
}

.icon-big {
    width: 3.4286rem;
}

.header-layout .left-top {
    padding: 2.0898rem;
}

.right-pannel {
    align-items: center;
    padding: 0.9143rem;
    margin: 1.3062rem;
    right: 0;
    position: absolute;
    background: rgba(25, 25, 25, 0.2);
    border-radius: 1.3062rem;

    .txt {
        color: white;
        font-size: 1.6457rem;
        font-family: PingFangSC-Medium;
    }

    .icon-small {
        width: 2.6122rem;
        padding: 1.8286rem 0 0.7837rem 0;
    }
}

.vertical-layout {
    display: flex;
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

.header-line2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        color: white;
    }

    .h1 {
        font-size: 2.6286rem;
        color: greenyellow;
        font-weight: 600;
        padding: 0.7837rem 0 2.351rem 0;
    }

    .h2 {
        font-size: 4.1795rem;
        font-weight: 800;
    }

    .h3 {
        font-size: 2.4555rem;
        font-weight: 500;
    }

    .h4 {
        font-size: 2.1159rem;
        font-family: PingFangSC-Light;
        font-weight: 300;
        padding-top: 2.6122rem;
    }
}

.header-line3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6.2694rem;

    .icon-bottom {
        width: 3.4221rem;
        height: 4.5714rem;
        padding: 0 1.3062rem 0 0;
    }

    .sp {
        width: 1.5673rem;
    }

    .t1 {
        font-size: 1.9592rem;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        line-height: 2.769rem;
    }

    .t2 {
        font-size: 2.6122rem;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
        line-height: 3.6049rem;
    }
}

.menu-layout {
    width: 100%;
    margin-top: 1.3062rem;
    height: calc(100vh - 52.2449rem);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    .item-menu {
        align-items: center;
        justify-content: center;
    }

    .icon-menu {
        width: 6.2694rem;
        height: 6.2694rem;
        padding-bottom: 2.6122rem;
    }

    .icon-txt {
        font-size: 2.9519rem;
        font-family: PingFangSC-Medium;
        font-weight: 400;
        color: rgba(72, 72, 72, 1);
        line-height: 4.0751rem;
    }
}