body {
    margin: 0px;
    padding: 0px;
}

.hello {
    display: flex;
    flex-direction: column;
}

.background {
    width: 100%;
    height: 20rem;
    position: absolute;
    top: 0;
}

.ring {
    width: 11rem;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 3.8rem;
}

.header-layout {
    z-index: 50;
    width: 100%;
    position: absolute;
    top: 0;
}

.header-line1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(60, 60, 60, 0.24);
    height: 2.69rem;
}

.header-line1 p {
    font-size: 1rem;
    font-family: PingFangSC-Medium;
    color: rgba(255, 255, 255, 1);
    line-height: 1.67rem;
    padding: 0 1rem 0 1rem;
}

.icon-big {
    width: 1.38rem;
}

.header-layout .left-top {
    padding: 0.8rem;
}

.right-pannel {
    align-items: center;
    padding: 0.35rem;
    margin: 0.5rem;
    right: 0;
    position: absolute;
    background: rgba(25, 25, 25, 0.2);
    border-radius: 0.5rem;

    .txt {
        color: white;
        font-size: 0.63rem;
        font-family: PingFangSC-Medium;
    }

    .icon-small {
        width: 1rem;
        padding: 0.7rem 0 0.3rem 0;
    }
}

.vertical-layout {
    display: flex;
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

.header-line2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        color: white;
    }

    .h1 {
        color: greenyellow;
        font-weight: 600;
        padding: 0.3rem 0 0.9rem 0;
    }

    .h2 {
        font-size: 1.6rem;
        font-weight: 800;
    }

    .h3 {
        font-size: 0.94rem;
        font-weight: 500;
    }

    .h4 {
        font-size: 0.81rem;
        font-family: PingFangSC-Light;
        font-weight: 300;
        padding-top: 1rem;
    }
}

.header-line3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2.4rem;

    .icon-bottom {
        width: 1.31rem;
        height: 1.75rem;
        padding: 0 0.5rem 0 0;
    }

    .sp {
        width: 0.6rem;
    }

    .t1 {
        font-size: 0.75rem;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        line-height: 1.06rem;
    }

    .t2 {
        font-size: 1rem;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
        line-height: 1.38rem;
    }
}

.menu-layout {
    width: 100%;
    margin-top: 1rem;
    height: calc(100vh - 20rem);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    .item-menu {
        align-items: center;
        justify-content: center;
    }

    .icon-menu {
        width: 2.4rem;
        height: 2.4rem;
        padding-bottom: 1rem;
    }

    .icon-txt {
        font-size: 1.13rem;
        font-family: PingFangSC-Medium;
        font-weight: 400;
        color: rgba(72, 72, 72, 1);
        line-height: 1.56rem;
    }
}