body {
    margin: 0px;
    padding: 0px;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hello {
    display: flex;
    flex-direction: column;
}

.background {
    width: 100%;
    height: 731.4288px;
    position: absolute;
    top: 0;
}

.ring {
    width: 402.2864px;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 138.9712px;
}

.header-layout {
    z-index: 50;
    width: 100%;
    position: absolute;
    top: 0;
}

.header-line1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(60, 60, 60, 0.24);
    height: 98.3776px;
}

.header-line1 p {
    font-size: 36.5712px;
    font-family: PingFangSC-Medium;
    color: rgba(255, 255, 255, 1);
    line-height: 61.0736px;
    padding: 0 36.5712px 0 36.5712px;
}

.icon-sign {
    width: 51.2px;
}

.icon-big {
    width: 48px;
}

.header-layout .left-top {
    padding: 29.2576px;
}

.right-pannel {
    align-items: center;
    padding: 12.8px;
    margin: 18.2864px;
    right: 0;
    position: absolute;
    background: rgba(25, 25, 25, 0.2);
    border-radius: 18.2864px;

    .txt {
        color: white;
        font-size: 23.04px;
        font-family: PingFangSC-Medium;
    }

    .icon-small {
        width: 36.5712px;
        padding: 25.6px 0 10.9712px 0;
    }
}

.vertical-layout {
    display: flex;
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

.header-line2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        color: white;
    }

    .h1 {
        font-size: 36.8px;
        color: greenyellow;
        font-weight: 600;
        padding: 10.9712px 0 32.9136px 0;
    }

    .h2 {
        font-size: 58.5136px;
        font-weight: 800;
    }

    .h3 {
        font-size: 34.3776px;
        font-weight: 500;
    }

    .h4 {
        font-size: 29.6224px;
        font-family: PingFangSC-Light;
        font-weight: 300;
        padding-top: 36.5712px;
    }
}

.header-line3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 87.7712px;

    .icon-bottom {
        width: 47.9088px;
        height: 64px;
        padding: 0 18.2864px 0 0;
    }

    .sp {
        width: 21.9424px;
    }

    .t1 {
        font-size: 27.4288px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        line-height: 38.7664px;
    }

    .t2 {
        font-size: 36.5712px;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
        line-height: 50.4688px;
    }
}

.menu-layout {
    width: 100%;
    margin-top: 18.2864px;
    height: calc(100vh - 731.4288px);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    .item-menu {
        align-items: center;
        justify-content: center;
    }

    .icon-menu {
        width: 87.7712px;
        height: 87.7712px;
        padding-bottom: 36.5712px;
    }

    .icon-txt {
        font-size: 41.3264px;
        font-family: PingFangSC-Medium;
        font-weight: 400;
        color: rgba(72, 72, 72, 1);
        line-height: 57.0512px;
    }
}